html {
  height: 100%;
}

.sm-header{
  background-color: bisque;
}
.sm-nav-right{
  max-height: 60px;
}
.sm-nav-right > ul > li > a {
  min-height: 60px;
}

.sm-toggle {
  min-height: 60px;
}
.sm-toggle > a {
  min-height: 60px;
}

.sm-sidebar-menu{
  border: 0px;
  border-bottom-width: 1px;
  border-color: aliceblue;
  border-style: solid;
  margin-top: 5px;
  padding-left: 10px;
}
.sm-sidebar-menu > ul {
  margin-top: 3px;
  padding-left: 10px;
}

.sm-menu-list > li > a {
  padding-top: 0px;
}

.sm-book-area{
  padding-top: 30px;
  width: 710px;
  min-width: 710px;
  background-color: #fff;
}

.sm-book {
  width: 110px;
  min-width: 110px;
}

.sm-genre-area {
  width: 150px;
  min-width: 150px;
  box-shadow: 0px
}

.sm-synopsis{
  width: 450px;
  min-width: 450px;
  max-width: 450px;
}

.sm-genre-search-books{
  height: 200px;
  min-height: 200px;
  max-height: 200px;
}

.sm-divider {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px;
  border-style: solid;
  margin: 30px;
  border-color: gainsboro;

}

.sm-area-label{
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid white;
}

.sm-sign-menu-area {
  border: 2px solid white;
  height: 100%;
}

.sm-sign-menu-area > ul > li > label {
  margin-left: 20px;
  margin-right: 30px;
}

.sm-sign-menu-body {
  height: 100%;
}

.sm-require-label{
  padding-bottom: 2px;
  padding-top: 1px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: crimson;
  color: white;
}

.sm-terms-modal {
  border: 1px solid;
}

.sm-error-msg > ul {
  color: red;
}

.sm-invalid-label {
  color: red;
  font-weight: bold;
}

.sm-invalid-label > span {
  font-weight: normal;
}

.sm-invalid-box{
  border-color: red;
}

.sm-my-page-user-area{
  margin-right: 20px;
  min-height: 770px;

}

.sm-my-page-user-area > div {
  border: 1px solid #000;
  background-color: white;
}

.sm-my-page-user-area > div > h4  {
  padding-left: 20px;
  padding-right: 20px;
}


.sm-my-page-navbar{
  height: 40px;
}

.sm-my-page-navbar > ul > li > a {
  min-height: 40px;
  border: 1px solid #000;
  border-right: 0;
  border-bottom: 0;
}

.sm-my-page-navbar > ul > li:last-child > a {
  border-right: 1px solid #000;;
}

.sm-active-nav {
  color: #fff !important;
  background-color: darkgray;
}

.sm-inactive-nav {
  color: #000 !important;
  background-color: white;
}

.sm-bookshelf {
  min-height: 230px;
  width: 710px;
  min-width: 710px;
  background-color: #fff;
  border: 1px solid #000;
  border-bottom: 0;
}

.sm-bookshelf > div {
  padding-top: 20px;
  padding-bottom: 10px;
}

.sm-bookshelf-area > div:last-child {
  border-bottom: 1px solid #000;
}

.sm-bookshelf-pagination{
  margin-top: 10px;
}

.sm-bookshelf-pagination > span:first-child {
  margin-left: 40px;
}

.sm-bookshelf-pagination > span:first-child > a{
  background-color: #fff;
  padding-left: 25px;
  padding-right: 30px;
  padding-bottom: 4px;
  border: 1px solid #000;
}

.sm-bookshelf-pagination > span:last-child{
  margin-right: 40px;
}

.sm-bookshelf-pagination > span:last-child > a{
  background-color: #fff;
  padding-left: 30px;
  padding-right: 25px;
  padding-bottom: 4px;
  border: 1px solid #000;
}

.sm-bookshelf-empty {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sm-link-invalid{
  pointer-events: none;
  color: gray;
}

.sm-book-title{
  line-height: 120%;
  word-break: break-all;
}

.sm-book-img {
  max-width: 100%;
  height: 150px;
  width: auto;
  border: 1px solid gray;
}

.sm-modal-book-img{
  max-width: 100%;
  height: 150px;
  width: 110px;
  border: 1px solid gray;
}

.sm-genre-pagination{
  margin-top: 10px;
  background-color: #fff;
  padding-bottom: 20px;
}

.sm-genre-pagination > span:first-child {
  margin-left: 40px;
}

.sm-genre-pagination > span:first-child > a{
  background-color: #fff;
  padding-left: 25px;
  padding-right: 30px;
  padding-bottom: 4px;
}

.sm-genre-pagination > span:last-child{
  margin-right: 40px;
}

.sm-genre-pagination > span:last-child > a{
  background-color: #fff;
  padding-left: 30px;
  padding-right: 25px;
  padding-bottom: 4px;
}

.sm-pages > span{
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;
}

.sm-pages > span:first-child{
  margin-left: 0px;
}

.sm-now-page {
  border: 1px solid gray;
}

.sm-button-link {
  color: dimgray;
  text-decoration: none;
}

.sm-book-detail{
  border: 1px solid gray;
  background-color: #fff;
  width: 550px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.sm-book-detail > h3 {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 6px;
  border-bottom: 1px dashed gray;
}

.sm-book-detail-img {
  max-width: 100%;
  height: 200px;
  width: auto;
  border: 1px solid gray;
}

.sm-book-detail-episode-one{
  margin-left: 30px;
  width: 250px;
}

.sm-book-detail-area{
  margin-left: 30px;
  margin-right: 30px;
}

.sm-book-detail-area > div:first-child {
  margin-top: 0px;
}

.sm-book-detail-area > div {
  margin-top: 20px;
}

.sm-book-detail-synopsis{
  border: 1px solid gray;
}

.sm-book-detail-episodes{
  border: 1px solid gray;
}

.sm-book-detail-episodes > div{
  padding: 2px 0px 2px 5px;
  border-bottom: 1px dashed gray;
}

.sm-book-detail-episodes > div:last-child{
  border-bottom: none
}

.sm-advertising {
  margin: 25px 20px 20px 0px;
  height: 496px;
  border: 1px solid gray;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.sm-advertising > div:first-child {
  width: 120px;
  height: 150px;
  border: 1px gray dashed;
  margin: 10px 10px 10px 10px;
}

.sm-advertising > div {
  width: 120px;
  height: 150px;
  border: 1px gray dashed;
  margin: 0px 10px 10px 10px;
}

.sm-bookmarks-state{
  margin-left: 5px
}

.sm-genre-label {
  margin: 0px 10px;
  padding-bottom: 2px;
  border-bottom: 1px dashed gray;
}

.sm-radio{
  line-height: 24px;
  vertical-align: middle;
}

.sm-book-episode{
  border: 1px solid gray;
  background-color: #fff;
  width: 700px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.sm-book-episode > div {
  margin-left: 20px;
  margin-right: 20px;
}


.sm-book-episode-header{
  margin-top: 10px;
  display: flex;
}

.sm-book-episode-header > h4{
  margin-bottom: 0px;
  line-height: 40px;
  vertical-align: middle;
}
.sm-book-episode-header > button{
  margin-left: auto;
}

.sm-book-episode-pagination {
  margin: 10px 0px 10px 0px;
  padding: 8px 0px;
  border-top: 1px dashed gray;
  border-bottom: 1px dashed gray;
}

.sm-book-episode-pagination > div {
  margin: 0px 10px;
  text-align: center;
}

.sm-book-episode-pagination > div:first-child {
  border-right: 1px solid gray;
}

.sm-book-episode-pagination > div:last-child {
  border-left: 1px solid gray;
}
.sm-book-episode-content {
  word-break: break-all;
}

.sm-genre-selector{
  display: flex;
  align-items: center;
}

.sm-genre-selector select{
  margin-top: 2px;
  padding-bottom: 3px;
}

.sm-genre-selector > p{
  font-size: 14px;
  margin: 0px;
}
