.sm-header{
  background-color: bisque;
}

.sm-nav-right{
  max-height: 60px;
}
.sm-nav-right > ul > li > a {
  min-height: 60px;
}

.sm-toggle {
  min-height: 60px;
}
.sm-toggle > a {
  min-height: 60px;
}

.sm-sidebar-menu{
  border: 0px;
  border-bottom-width: 1px;
  border-color: aliceblue;
  border-style: solid;
  margin-top: 5px;
  padding-left: 10px;
}
.sm-sidebar-menu > ul {
  padding-left: 10px;
}

.sm-menu-list > li > a {
  padding-top: 0px;
}

.sm-book-area{
  width: 710px;
  min-width: 710px;
}

.sm-book {
  width: 110px;
  min-width: 110px;
}

.sm-genre-area {
  width: 150px;
  min-width: 150px;
  box-shadow: 0px
}

.sm-synopsis{
  width: 450px;
  min-width: 450px;
  max-width: 450px;
}

.sm-genre-search-books{
  height: 200px;
  min-height: 200px;
  max-height: 200px;
}

.sm-divider {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px;
  border-style: solid;
  margin: 30px;
  border-color: gainsboro;

}

.sm-area-label{
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid white;
}
